<h1>waiter</h1>
<label for="first-name">First Name</label>
<input type="text" name="first-name" value="" placeholder="first name">

<label for="last-name">Last Name</label>
<input type="text" name="last-name" value="" placeholder="last name">

<button type="submit" name="button" {{action 'storeClient'}}>submit</button>
